table{
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid red;
    padding: 5px;
    background-color: #000;
    color: white;
}
.even{
    background-color: white;
    color: black;
}
